# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


ocean-watch-react/
ocean-watch-ai/
ocean-harmony-ai/
data_oz/
bioreef_stage1.pt
bioreef_stage1_biological_cascade.pt
bioreef_v1.onnx.data
bioreef_stage1_final.pt
bioreef_stage1_focal.pt
